## List

In [1]:
std_list=[
    [1,2,3],
    ['kumaran','karthick','Rajan'],
    'tot',
    3
]

In [2]:
print("Roll No.\t Name of the Student")
print("-"*35)
[print(std_list[0][i],"\t\t",std_list[1][i]) for i in range(std_list[3])]

Roll No.	 Name of the Student
-----------------------------------
1 		 kumaran
2 		 karthick
3 		 Rajan

[None, None, None]

In [3]:
listdata=[1,2.3,'data1',['l1',1,1.2]]

In [4]:
print(listdata)
listdata[-2]='data2'
print(listdata)

[1, 2.3, 'data1', ['l1', 1, 1.2]]
[1, 2.3, 'data2', ['l1', 1, 1.2]]

In [5]:
a=[]
type(a)

list

Methods and Functions with list

In [32]:
#Concatenation
a=[1,2,3]
b=[4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

In [33]:
print(a*3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [13]:
#zip
print(zip(a,b))
zipped=list(zip(a,b))
print(id(zip(a,b)))
print(zipped)
sumzip=[sum(k) for k in zipped]
print(sumzip)
#sumzip

<zip object at 0x000002201C550940>
2336935959040
[(1, 4), (2, 5), (3, 6)]
[5, 7, 9]

In [20]:
sl=list(zip(std_list[0],std_list[1]))
#sl=list(zip(std_list[0],std_list[1],a))

for r,n in sl:
    print(r,n)

1 kumaran
2 karthick
3 Rajan

In [24]:
len(a)

2

In [28]:
c=[]
sum=0
print(a)
for i in range(0,len(a)):
    sum +=a[i]
    c.append(sum)
print(sum)
c

[1, 2, 3]
6

[1, 3, 6]

In [30]:
a = [0,1,2,3,4,5,6,7,8,9]
print(a[::])
print(a[::-1])
print(a[-3::2])
print(a[-3:-1:])
print(a[-1:-8:-2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[7, 9]
[7, 8]
[9, 7, 5, 3]

In [37]:
print(a.append(6))
print(a)

None
[1, 2, 3, 6, 6]

In [43]:
for x in [1,2,3,4]:
  print(x,end='\n\n')

1

2

3

4

In [44]:
print(dir(a))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [49]:
a=[1,2,3,4,5,6]

In [50]:
a.pop()
a

[1, 2, 3, 4, 5]

In [51]:
x=a.pop()
x

5

In [53]:
a.count(3)

1

In [55]:
b=[1,3,8]
a.extend(b)
a

[1, 2, 3, 4, 1, 3, 8, 1, 3, 8]

In [57]:
a.sort()
a

[1, 1, 1, 2, 3, 3, 3, 4, 8, 8]

In [58]:
a.reverse()
a

[8, 8, 4, 3, 3, 3, 2, 1, 1, 1]

***
## Tuples

In [59]:
a=()
print(type(a))

<class 'tuple'>

In [60]:
a=(1,2,3,"abc",12.4,12+3j)

In [ ]:
# tuple not changeable 
# a[1]=5 give error

In [61]:
print(a[1])

2

In [62]:
dir(a)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [3]:
a=[1,2,3]
print(a.__str__)

<method-wrapper '__str__' of list object at 0x0000021ADD0896C0>

In [63]:
a.count(1)

1

In [64]:
a.index(1)

0

In [65]:
t=(1,2,3,[3,4,5])

In [66]:
t[3].append(7)

In [67]:
t

(1, 2, 3, [3, 4, 5, 7])

In [69]:
t=(1,4,5,2,4)
print(len(t))
print(max(t))
print(min(t))

5
5
1

In [70]:
print(sorted(t))

[1, 2, 4, 4, 5]

In [2]:
x,y=(4,8)
print(y,type(y))

8 <class 'int'>

***
## Dictionaries

In [3]:
a={}
print(type(a))

<class 'dict'>

In [4]:
dict1={"A":1,"B":2}
print(dict1)

{'A': 1, 'B': 2}

In [6]:
dict2={"A":100,"B":2,"A":10}
print(dict2)

{'A': 10, 'B': 2}

In [7]:
dict3={"A":1,"a":2}
dict3

{'A': 1, 'a': 2}

In [13]:
dict4={(1,2):1,"A":'hi','k':21,2:3}
dict4

{(1, 2): 1, 'A': 'hi', 'k': 21, 2: 3}

In [14]:
dict4[(1,2)]

1

In [22]:
dict4 = { "A":1,
         "B":2,
         "C":{"A":10,"B":20}
    }
dict4["C"]["B"]

20

In [16]:
dir(dict4)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [17]:
dict4.keys()

dict_keys(['A', 'B', 'C'])

In [18]:
dict4.values()

dict_values([1, 2, {'A': 10, 'B': 20}])

In [20]:
dict4.pop("C")

{'A': 10, 'B': 20}

In [23]:
dict4.popitem()

('C', {'A': 10, 'B': 20})

In [24]:
print(dict4)

{'A': 1, 'B': 2}

In [25]:
del dict4["A"]
print(dict4)

{'B': 2}

In [26]:
dict1={"Name":"Kumaran","age":20,"Role":"DevOps Engineerer"}
dict6={}
dict6[1]=dict1
print(dict6)

{1: {'Name': 'Kumaran', 'age': 20, 'Role': 'DevOps Engineerer'}}

In [27]:
dict6[1]["Role"]

'DevOps Engineerer'

In [28]:
dict6.clear()
print(dict6)

{}

In [29]:
mydict = {
    "brand":"Ford",
    "model": "mustang",
    "year":"1964"
}
for x in mydict:
  print(x,'=>',mydict[x])

brand => Ford
model => mustang
year => 1964

In [30]:
dict1=mydict.copy()
dict1

{'brand': 'Ford', 'model': 'mustang', 'year': '1964'}

In [31]:
child1 = {
    "Name":"Puspendra",
    "doy" :2000
    }
child2 = {
    "Name":"Karthik",
    "doy" :1990
}
child3 = {
    "Name":"Sonal",
    "doy" :2001
}
cousins={
    "child1_K":child1,
    "child2_K":child2,
    "child3_K":child3

}

print(cousins)

{'child1_K': {'Name': 'Puspendra', 'doy': 2000}, 'child2_K': {'Name': 'Karthik', 'doy': 1990}, 'child3_K': {'Name': 'Sonal', 'doy': 2001}}

***
## Sets

In [32]:
fruits1={"Apple","Orange","mango"}
fruits2=set()
print(fruits1)
type(fruits2)

{'mango', 'Orange', 'Apple'}

set

In [33]:
for x in fruits1:
    print(x)

mango
Orange
Apple

In [34]:
print("Apple" in fruits1)

True

In [35]:
dir(fruits1)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [36]:
fruits2={"Banana2","Apple2","Mango2","Mango3"}

In [37]:
print(fruits1)
print(fruits2)
union_set = fruits1.union(fruits2)
union_set

{'mango', 'Orange', 'Apple'}
{'Banana2', 'Mango2', 'Apple2', 'Mango3'}

{'Apple', 'Apple2', 'Banana2', 'Mango2', 'Mango3', 'Orange', 'mango'}

In [38]:
intersection_set = fruits1.intersection(fruits2)
intersection_set

set()

In [39]:
fruits1.clear()

In [40]:
fruits2.copy()

{'Apple2', 'Banana2', 'Mango2', 'Mango3'}

# Date & Time

In [41]:
import time

In [42]:
ticks=time.time()
print("Number of ticks since jan 1 1970,12am",ticks)

Number of ticks since jan 1 1970,12am 1684772620.913169

In [43]:
localtime=time.localtime(time.time())
print("Local current time",localtime)

Local current time time.struct_time(tm_year=2023, tm_mon=5, tm_mday=22, tm_hour=21, tm_min=56, tm_sec=24, tm_wday=0, tm_yday=142, tm_isdst=0)

In [45]:
localtime.tm_hour

21

In [47]:
lt=time.asctime(localtime)
print(lt)

Mon May 22 21:56:24 2023

In [49]:
import calendar

In [50]:
cal=calendar.month(2023,2)
print(cal)

   February 2023
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28

In [51]:
print(calendar.calendar(2023))

                                  2023

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5             1  2  3  4  5
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       6  7  8  9 10 11 12
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      13 14 15 16 17 18 19
16 17 18 19 20 21 22      20 21 22 23 24 25 26      20 21 22 23 24 25 26
23 24 25 26 27 28 29      27 28                     27 28 29 30 31
30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2       1  2  3  4  5  6  7                1  2  3  4
 3  4  5  6  7  8  9       8  9 10 11 12 13 14       5  6  7  8  9 10 11
10 11 12 13 14 15 16      15 16 17 18 19 20 21      12 13 14 15 16 17 18
17 18 19 20 21 22 23      22 23 24 25 26 27 28      19 20 21 22 23 24 25
24 25 26 27 28 29 30      29 30 31                  26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                   1  2  3
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       4  5  6  7  8  9 10
10 11 12 13 14 15 16      14 15 16 17 18 19 20      11 12 13 14 15 16 17
17 18 19 20 21 22 23      21 22 23 24 25 26 27      18 19 20 21 22 23 24
24 25 26 27 28 29 30      28 29 30 31               25 26 27 28 29 30
31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                   1  2  3
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17
16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24
23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31
30 31

In [52]:
calendar.firstweekday()

0

In [61]:
calendar.setfirstweekday(1)

In [57]:
calendar.month(2023,2)

'   February 2023\nMo Tu We Th Fr Sa Su\n       1  2  3  4  5\n 6  7  8  9 10 11 12\n13 14 15 16 17 18 19\n20 21 22 23 24 25 26\n27 28\n'

In [62]:
print(calendar.month(2023,2))

   February 2023
Tu We Th Fr Sa Su Mo
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28

In [54]:
calendar.isleap(2024)

True

In [55]:
dir(calendar)

['Calendar',
 'EPOCH',
 'FRIDAY',
 'February',
 'HTMLCalendar',
 'IllegalMonthError',
 'IllegalWeekdayError',
 'January',
 'LocaleHTMLCalendar',
 'LocaleTextCalendar',
 'MONDAY',
 'SATURDAY',
 'SUNDAY',
 'THURSDAY',
 'TUESDAY',
 'TextCalendar',
 'WEDNESDAY',
 '_EPOCH_ORD',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_colwidth',
 '_get_default_locale',
 '_locale',
 '_localized_day',
 '_localized_month',
 '_monthlen',
 '_nextmonth',
 '_prevmonth',
 '_spacing',
 'c',
 'calendar',
 'datetime',
 'day_abbr',
 'day_name',
 'different_locale',
 'error',
 'firstweekday',
 'format',
 'formatstring',
 'isleap',
 'leapdays',
 'main',
 'mdays',
 'month',
 'month_abbr',
 'month_name',
 'monthcalendar',
 'monthrange',
 'prcal',
 'prmonth',
 'prweek',
 'repeat',
 'setfirstweekday',
 'sys',
 'timegm',
 'week',
 'weekday',
 'weekheader']

# Function

In [67]:
def iamfun(str):
    "This is  function it can do an particular task"
    print(str)

    return

In [64]:
iamfun("hi Karthick Raja")

hi Karthick Raja

In [68]:
print(iamfun.__doc__)

This is  function it can do an particular task

In [1]:
def noob(str):
    "checking for your pro or not"
    if str!="karthick":
        return "noob"
    else:
        return "pro"
    
print(noob("kumaran"))
print(noob("karthick"))

noob
pro

In [3]:
print(noob.__doc__)
print(print.__doc__)

checking for your pro or not
Prints the values to a stream, or to sys.stdout by default.

  sep
    string inserted between values, default a space.
  end
    string appended after the last value, default a newline.
  file
    a file-like object (stream); defaults to the current sys.stdout.
  flush
    whether to forcibly flush the stream.